@{
    ViewBag.Title = "Home Page";

}


<div class="row">
    <div class="panel-heading">
        <div class="col-md-8  custom-heading3">
            <h3>
                <i class="fa fa-calendar"></i>
                <span>Application de création d'horaire de groupe en ligne </span>

            </h3>
        </div>
    </div>
</div>

<div class="row">
    <section class="col-md-12 col-md-push-0">
       
        @Html.Partial("_CalendarPartial")
    </section>
</div>


