@using Log735Schedule.Models
@model PrivateRoomModel
@{
    ViewBag.Title = "Private Room";


}

<script type="text/javascript">
  var modelJava = @Html.Raw(Json.Encode(Model));
</script>
<body>
    <div class="row">
        <div class="col s12">
            <div class="row">
                <div class="col s3">
                    <h2>Salle @Model.RoomName</h2>
                </div>
                <div class="col s3">
                    @if (Model.HubUrl == "http://localhost:8089/signalr/")
                    {

                        <h2 id="hub1">Serveur 1</h2>
                    }
                    else if (Model.HubUrl == "http://localhost:8088/signalr/")
                    {

                        <h2 id="hub2">Serveur 2</h2>
                    }
                </div>
            </div>
            <div class="col s3">
                <div class="divider"></div>
                <div class="section">
                    @Html.DropDownList("Courses", Model.ListCourse, "- Choisir un cours -", new { @class = "form-control" });
                </div>
                <div class="divider"></div>
                <div class="section">
                    @Html.DropDownList("Groupes", new SelectList(string.Empty, "Value", "Text"), "Choisir un cours avant", new { @class = "form-control" })
                </div>
                <div class="section" id="CourseInfo">
                </div>
                <div class="section">
                    <a id="Ajouter" class="waves-effect waves-light btn">Ajouter</a>
                    <a id="Enlever" class="waves-effect waves-light btn">Enlever</a>
                </div>
            </div>
            <div class="col s6">
                <div id='calendar'></div>
            </div>
            <div class="col s3">
                <div class="row">

                    <label for="textarea1">Journal d'événements</label>

                </div>
                <div class="row">
                    <ul id="eventLog">
                        <li></li>
                    </ul>
                </div>

            </div>
        </div>


    </div>



</body>
@section calendarScript{
        <script src="http://localhost:8089/signalr/hubs"></script>
        <script src="http://localhost:8088/signalr/hubs"></script>
    <script src="~/Scripts/hub-script-calendar.js"></script>

}